<div class="card">
  <h1>Register Page</h1>
  <form>
    <div class = "form-group">
      <label for = "name">Name</label><br>
      <input type = "text" class = "form-control" id = "name" name = "name" placeholder = "Name" [(ngModel)]="userdetails.name">
    </div><br>
    <div class = "form-group">
      <label for = "id">Id</label><br>
      <input type = "number" class = "form-control" id = "id" name = "id" placeholder = "Id" [(ngModel)]="userdetails.id">
    </div>
    <div class = "form-group">
      <label for = "email">Email</label><br>
      <input type = "text" class = "form-control" id = "email" name = "email" placeholder = "Email" [(ngModel)]="userdetails.email">
    </div><br>
    <div class = "form-group">
      <label for = "password">Password</label><br>
      <input type = "password" class = "form-control" id = "password" name = "pass" placeholder = "password" [(ngModel)]="userdetails.pass">
    </div><br>
    <div class = "text-center">
     <a class="btn btn-primary" (click)="register(userdetails)">Submit</a>&nbsp;&nbsp;
    <a routerLink="/list" class="btn btn-info">View</a>
    </div>


  </form>



</div>
